<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Leaflet Web App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    </head>
    <body>
        <div class="titlecontainer">
            <h2 style='text-align: center;'>All Documented Earthquakes Around The World</h2>
        </div>
        <div id="mapid" style="width: 80%; height: 580px; left: 7%"></div>
        

        <!-- Leaflet JavaScript -->
        <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
        <!-- D3 JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Our JavaScript -->
        <script type="text/javascript" src="{{ url_for('static', filename='logic.js') }}"></script>
        <!--Date Range Picker With Times-->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
        <br>
        <br>
        <form action="/action_page.php" style='margin-left: 7%'>
            <label for="jsoninfo">Choose Time table:</label>
            <select name="cars" id="sqljson">
                <option value="significant_month.geojson">Most Significant</option>
                <option value="all_hour.geojson">Last Hour</option>
                <option value="all_day.geojson">Last Day</option>
                <option value="all_week.geojson">Last Week</option>
                <option value="all_month.geojson">Last Month</option>
            </select>
            <br><br>
            <input type="submit" value="Submit">
          </form>

        <div>
            <table id="tbEarthQuickInfo" style="width: 80%; height: 580px; margin-left: 7%">
                <tr>
                    <th>Information</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Coordinates</th>
                </tr>
            </table>
        </div>
    </body>
</html>
